* {
    background-color: black;
}

h1 {color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 50px;
    font-weight: 400;

}

h2 {color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 42px;
    font-weight: 300;

}

p {
    color:gray;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 21px;
    font-weight: 400;
}

a {
    color: aquamarine;
    text-align: center;
    font-size: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
 
  }

div {
    text-align: center;
    
}